#overwrite_line_height{
    line-height: 80px;
}
.media-body{
    padding-top:20px;
}
.media>.center_icons{
    padding-right: 0px;
}
.devicon-php-plain{
    font-size:40px;
}
.show_project_title{
    bottom:0;
    -webkit-transition:bottom .3s ease-out .1s,color .2s ease-out 0s;
    -o-transition: bottom .3s ease-out .1s,color .2s ease-out 0s;
    transition: bottom .3s ease-out .1s,color .2s ease-out 0s;
}
.show_overlay{
    opacity:0.8;
	filter:alpha(opacity=80);
}
.overlay-mask{
    color:white;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    line-height:200px;
    text-shadow: 2px 2px gray;
}
#main-footer{
    padding-top:20px;
}
.social-links{
    margin-bottom:0px;
}
#self_image{
    width:300px;
    height:300px;
    background-color:red;
}
.features .icon{
    margin:auto;
}
.features .media{
    text-align:center;
}
.media-object{
    font-size:55px;
}
.big_font{
    font-size:80px;
}