#overwrite_line_height{
    line-height: 80px;
}
.media-body{
    padding-top:20px;
}
.media>.center_icons{
    padding-right: 0px;
}
.devicon-php-plain{
    font-size:40px;
}
.show_project_title{
    bottom:0;
    -webkit-transition:bottom .3s ease-out .1s,color .2s ease-out 0s;
    transition: bottom .3s ease-out .1s,color .2s ease-out 0s;
}
.show_overlay{
    opacity:0.8;
	filter:alpha(opacity=80);
}
.icon_1_click{
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0);
    -webkit-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
}
.icon_2_click{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-transition:all .3s ease-out .2s;
    transition:all .3s ease-out .2s;
}
.overlay-mask{
    color:white;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    line-height:200px;
    text-shadow: 2px 2px gray;
}
#main-footer{
    padding-top:20px;
}
.social-links{
    margin-bottom:0px;
}
#self_image{
    width:300px;
    height:300px;
    background-color:red;
}