html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}
body{
    background-image:url("images/carbot_background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    text-shadow: 4px 4px #000000;
}
#header_container{
    height: 15vh;
    width: 100vw;
    text-align:center;
    color:#e82525;
    font-size:20px;
    display: flex;
}
#header_container a{
    text-decoration:none;
    color:#44d4f5;
    font-size:1.5em;
    margin-left:2%;
    margin-right:2%;
    position:relative;
    bottom:15px;
}

.center {
    margin: auto;
}

.front img, .back img{
    width:100%;
    height:100%;
    border-radius:inherit;
}
#stats_container {
    height: 85vh;
    width: 15vw;
    display: inline-block;
    font-size:12px;
    position:relative;
    left:1%;
}

.game_area{
    display: inline-flex;
    height: 83vh;
    width: 82vw;
    flex-flow: row wrap;
    vertical-align: top;
    font-size: 30px;
}
.card{
    width: 12vw;
    height: 23vh;
    margin:auto;
    position:relative;
    cursor: pointer;
    transition: 1s;
    transform-style: preserve-3d;
    border-radius:10px;
}
.front, .back{
    width:100%;
    height:100%;
    position:absolute;
    border-radius:10px;
    backface-visibility: hidden;
}
.front{
    border:2px solid gold;
    box-sizing:border-box;
    background-color:#44d4f5;
}
.reset{
    width:100px;
    height:100px;
    background-color:#0aa9ea;
    position:relative;
    top:20vh;
    cursor: pointer;
    color: red;
    font-size:25px;
    font-weight:bold;
    border-radius: 15px;
    box-shadow: 0 3px #000;
}
.reset:active {
    background-color: blue;
    box-shadow: 0 5px #151414;
    transform: translateY(10px);
}
.games_played{
    font-size:3em;
    color:#e82525;
    position:relative;
    top:5%;
}
.accuracy{
    font-size:3em;
    color:#e82525;
    top:15vh;
    position:relative;
}
.attempts{
    font-size:3em;
    color:#e82525;
    position:relative;
    top:9vh;
}
.front{
    transform: rotateY(180deg);
}
.flipped{
    transform: rotateY(180deg);
}
#modal_shadow{
    position:fixed;
    top:0px;
    left:0px;
    height:100vh;
    width:100vw;
    background-color:black;
    opacity:0.7;
    z-index:1;
    display:none;
}
#modal_body{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    height:50vh;
    width:50vw;
    z-index:2;
    display:none;
    background-size:cover;
}
.glow{
    box-shadow: 0px 0px 30px yellow;
}
#revealed{
    display:none;
}