/********************************
* universal 
*********************************/

html,
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    height: 15%;
    width: 100%;
}

body {
    background-image: url("images/carbot_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 4px 4px #000000;
    color: white;
    font-family: 'Bungee';
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    min-width: 200px;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#modal_body {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.card_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#modal_body {
    background-size: 100%, 100%;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


/******************************
*cards
*******************************/

.card {
    position: relative;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 8px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.front img,
.back img {
    width: inherit;
    border-radius: inherit;
}

.front {
    position: absolute;
}

.back {
    position: relative;
}

.front,
.back {
    width: 100%;
    border-radius: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 100%;
    border: 2px solid gold;
}

.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.glow {
    -webkit-box-shadow: 0px 0px 30px yellow;
    box-shadow: 0px 0px 30px yellow;
}

.hidden {
    display: none;
}

.reset:focus {
    outline: none;
}

.reset:active {
    background-color: blue;
    -webkit-box-shadow: 0 5px #151414;
    box-shadow: 0 5px #151414;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.reset {
    border-radius: 18px;
    text-shadow: 2px 3px 6px #666666;
    border: none;
    font-family: Arial;
    color: white;
    background: gray;
    text-decoration: none;
}

.reset:hover {
    cursor: pointer;
}

.reset_highlight {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3cb0fd), to(#3498db));
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/***************************
*responsive smallest portrait 
****************************/

@media screen and (orientation:portrait) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #stats_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: 100%;
        height: 10%;
    }
    #stats_container div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    #stats_container #side_buttons,
    #side_buttons>*,
    #mute_side>* {
        display: none;
    }
    .game_area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 55%;
        width: 85%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: top;
    }
    #bottom_container {
        height: 15%;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #reset_bottom {
        height: 50%;
        width: 50%;
    }
    body {
        text-shadow: 2px 2px #000000;
    }
    .card {
        border-radius: 4px;
        width: 15%;
    }
    #header_container {
        font-size: .6em;
    }
    #stats_container {
        font-size: .7em;
    }
    #mute_bottom {
        font-size: 3em;
    }
}

@media screen and (min-width:315px) and (orientation:portrait) {
    #reset_bottom {
        height: 50%;
    }
    #header_container {
        font-size: .6em;
    }
    #stats_container {
        font-size: .9em;
    }
    #reset_bottom {
        font-size: 1.5em;
    }
}

@media screen and (min-width:200px) and (min-height:550px) and (orientation:portrait) {
    #header_container {
        font-size: .9em;
    }
    #stats_container {
        font-size: 1.1em;
    }
}

@media screen and (min-height:600px) and (orientation:portrait) {
    body {
        min-width: 350px;
    }
    #mute_bottom {
        font-size: 4em;
    }
}

@media screen and (min-width:500px) and (orientation:portrait) {
    #reset_bottom {
        height: 50%;
        font-size: 2em;
    }
    #header_container {
        font-size: 1.4em;
    }
    #stats_container {
        font-size: 1.3em;
        height: 15%;
    }
    body {
        min-height: 550px;
    }
}

@media screen and (min-width:650px) and (orientation:portrait) {
    #header_container {
        font-size: 1.8em;
    }
    #stats_container {
        font-size: 2em;
    }
    #reset_bottom {
        font-size: 2em;
    }
    .front img {
        border: 3px solid gold;
    }
}

@media screen and (max-width:500px) and (min-height:700px) and (orientation:portrait) {
    .game_area {
        width: 95%;
    }
}

@media screen and (min-width:1000px) and (orientation:portrait) {
    #header_container {
        font-size: 2.8em;
    }
    #stats_container {
        font-size: 3em;
    }
    #reset_bottom {
        font-size: 3em;
    }
}


/*******************
*landscape
*******************/

@media screen and (orientation:landscape) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: start;
        min-width: 250px;
    }
    #header_container {
        font-size: 1.3em;
    }
    #stats_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20%;
        height: 70%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #stats_container div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .game_area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: top;
    }
    #reset_bottom,
    #mute_bottom,
    #mute_bottom>* {
        display: none;
    }
    .card {
        width: 15%;
    }
    #stats_container #side_buttons {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #mute_side i {
        font-size: 2.5em;
    }
    #reset_side {
        width: 55%;
        height: 100%;
    }
}

@media screen and (max-width:400px) and (orientation:landscape) {
    body {
        text-shadow: 2px 2px #000000;
    }
    .card {
        border-radius: 4px;
    }
    #reset_side {
        font-size: 1.5em;
    }
    #header_container {
        font-size: .7em;
    }
    #stats_container {
        font-size: .4em;
    }
}

@media screen and (min-width:401px) and (orientation:landscape) {
    body {
        min-height: 220px;
        justify-content: space-evenly;
        align-items: center;
    }
    .game_area {
        width: 60%;
        height: 75%;
    }
}

@media screen and (min-width:401px) and (max-width:550px) and (orientation:landscape) {
    body {
        text-shadow: 2px 2px #000000;
    }
    .card {
        border-radius: 6px;
    }
    #reset_side {
        height: 100%;
        font-size: 1.2em;
    }
    #header_container {
        font-size: .7em;
    }
    #stats_container {
        font-size: .7em;
    }
}

@media screen and (min-width:407px) and (min-height:330px) and (orientation:landscape) {
    #header_container {
        font-size: 1.2em;
    }
    body {
        align-items: center;
        justify-content: space-around;
    }
    .game_area {
        height: 70%;
    }
    #stats_container {
        width: 25%;
        font-size: .8em;
    }
}

@media screen and (min-width:500px) and (orientation:landscape) {
    #header_container {
        font-size: 1.3em;
    }
    #reset_side {
        font-size: 1em;
    }
}

@media screen and (min-width:662px) and (orientation:landscape) {
    #header_container {
        font-size: 2em;
    }
    #stats_container {
        font-size: 1.2em;
    }
    #reset_side {
        font-size: 1.1em;
    }
    body {
        min-height: 375px;
    }
    .front img {
        border: 3px solid gold;
    }
}

@media screen and (min-width:747px) and (min-height:615px) and (orientation:landscape) {
    .game_area {
        width: 60%;
    }
}

@media screen and (min-width:1000px) and (orientation:landscape) {
    #header_container {
        font-size: 2.5em;
    }
    #stats_container {
        font-size: 1.7em;
        height: 80%;
    }
    #reset_side {
        font-size: 1.2em;
    }
    .game_area {
        height: 80%;
    }
    body {
        min-height: 600px;
    }
    .front img {
        border: 4px solid gold;
    }
}

@media screen and (min-width:1000px) and (max-height:750px) and (orientation:landscape) {
    .game_area {
        width: 50%;
    }
}

@media screen and (min-width:1300px) and (min-height:751px) and (orientation:landscape) {
    .game_area {
        width: 60%;
    }
    #stats_container {
        height: 80%;
    }
}

@media screen and (min-width:1500px) and (min-height:770px) and (orientation:landscape) {
    body {
        min-height: 800px;
    }
    #stats_container {
        font-size: 2.8em;
    }
    #reset_side {
        font-size: .8em;
    }
}

@media screen and (min-width:1700px) and (orientation:landscape) {
    body {
        min-height: 1000px;
    }
    .game_area {
        width: 55%;
        height:78%;
    }
    #stats_container{
        height:77%;
    }
}


/***********************
*landscape short height
***********************/

@media screen and (max-height: 450px) and (min-width: 500px) and (orientation: landscape) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        justify-content: center;
        min-width: 300px;
    }
    #header_container {
        text-align: center;
        font-size: .4em;
        width: 30%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #stats_container {
        font-size: .8em;
        width: 30%;
    }
    .game_area {
        height: 90%;
        width: 55%;
    }
}

@media screen and (min-width:560px) and (max-height:450px) and (orientation:landscape) {
    #header_container {
        font-size: .5em;
    }
    #stats_container {
        font-size: 1em;
        width: 30%;
    }
}

@media screen and (min-width:700px) and (max-height:450px) and (orientation:landscape) {
    #header_container {
        font-size: .6em;
    }
    #stats_container {
        font-size: 1.2em;
        width: 30%;
    }
    .game_area {
        height: 90%;
        width: 65%;
    }
}

@media screen and (min-width:800px) and (max-height:450px) and (orientation:landscape) {
    #header_container {
        font-size: .6em;
    }
    #stats_container {
        font-size: 1.3em;
        width: 30%;
    }
    .game_area {
        height: 90%;
        width: 55%;
    }
}

@media screen and (min-width:1000px) and (max-height:450px) and (orientation:landscape) {
    #header_container {
        font-size: .7em;
    }
    #stats_container {
        font-size: 1.5em;
        width: 30%;
    }
    .game_area {
        height: 95%;
        width: 55%;
    }
    body {
        min-height: 400px;
    }
}

@media screen and (min-width:1200px) and (max-height:450px) and (orientation:landscape) {
    #header_container {
        font-size: .8em;
    }
    #stats_container {
        font-size: 1.5em;
        width: 30%;
    }
    .game_area {
        height: 90%;
        width: 38%;
    }
    body {
        justify-content: center;
        min-height: 450px;
    }
}

@media screen and (min-width:1500px) and (max-height:450px) and (orientation:landscape) {
    .game_area {
        width: 36%;
    }
    body {
        -ms-flex-line-pack: start;
        align-content: start;
    }
}

@media screen and (min-width:1700px) and (max-height:450px) and (orientation:landscape) {
    .game_area {
        width: 32%;
    }
    body {
        -ms-flex-line-pack: start;
        align-content: start;
    }
}