/********************************
* universal 
*********************************/
html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
#header_container{
    display: flex;
    align-items:center;
    justify-content:center;
    font-style: normal;
    font-weight: 400;
    height:15%;
    width:100%;
}
body{
    background-image: url("images/carbot_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 4px 4px #000000;
    color: white;
    font-family: 'Bungee';
    width:100vw;
    height:100vh;
    font-size: 1em;
    min-width:200px;
    min-height:200px;
    display:flex;
}
#modal_shadow{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    display: none;
}
#modal_body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: none;
    background-size: cover;
}
/******************************
*cards
*******************************/
.card{
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 8px;
    transition: 1s;
    width:15%;
    margin: 0 auto;
}
.front img, .back img{
    width: 100%;
    border-radius: inherit;
}
.front, .back{
    width: 100%;
    /* position: absolute; */
    border-radius: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front{
    border: 2px solid gold;
    box-sizing: border-box;
    background-color: #44d4f5;
    transform: rotateY(180deg);
}
.flipped{
    transform: rotateY(180deg);
}
.glow{
    box-shadow: 0px 0px 30px yellow;
}
#hidden{
    display: none;
}
.reset:focus{
    outline: none;
}

.reset:active {
    background-color: blue;
    box-shadow: 0 5px #151414;
    transform: translateY(10px);
}
.reset {
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    text-shadow: 2px 3px 6px #666666;
    border:none;
    font-family: Arial;
    color: white;
    background: #35bcfa;
    text-decoration: none;
  }

.reset:hover {
    cursor: pointer;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/***************************
*responsive smallest portrait 
****************************/
@media screen and (orientation:portrait){
    body{
        flex-direction:column;
        align-items:center;
    }
 
    #stats_container {
        display: flex;
        position: relative;
        justify-content:space-evenly;
        width:100%;
        height:10%;
    }
    #stats_container div{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    #reset_side{
        display:none;
    }
    .game_area{
        display:flex;
        height: 90%;
        /* width: 90%; */
        flex-flow: row wrap;
        vertical-align: top;
    }
    #bottom_container{
        height:15%;
        width:80%;
        display:flex;
        justify-content:center;
        align-items:center;

    }
    #reset_bottom{
        width:60%; 
    }
    #modal_body{
        width:50vw;
        height:25vh;
    }
}
@media screen and (max-width:280px) and (orientation:portrait){
    body{
        text-shadow: 2px 2px #000000;
    }
    .card{
        border-radius:4px;
    }
    #reset_bottom{
        height:50%;
    }
    #header_container{
        font-size:.6em;
    }
    #stats_container{
        font-size:.7em;
    }
}
@media screen and (min-width:281px) and (orientation:portrait){
     #reset_bottom{
        height:50%;
    }
    #header_container{
        font-size:.6em;
    }
    #stats_container{
        font-size:.7em;
    }
    #reset_bottom{
        font-size:1.5em;
    }
    #modal_body{
        width:80vw;
        height:25vh;
    }
}
@media screen and (min-height:600px) and (orientation:portrait){
    body{
        min-width:350px;
    }
}
@media screen and (min-width:328px) and (orientation:portrait){
   #reset_bottom{
        height:50%;
        font-size:1.5em;
    }
    #header_container{
        font-size:.9em;
    }
    #stats_container{
        font-size:1em;
    }
}
@media screen and (min-width:650px) and (orientation:portrait){
    #header_container{
        font-size:1.8em;
    }
    #stats_container{
        font-size:2em;
    }
    #reset_bottom{
        font-size:2em;
    }
    #modal_body{
        width:80vw;
        height:40vh;
    }
}
@media screen and (min-width:1000px) and (orientation:portrait){
    #header_container{
        font-size:2.8em;
    }
    #stats_container{
        font-size:3em;
    }
    #reset_bottom{
        font-size:3em;
    }
}
/*******************
*landscape
*******************/
@media screen and (orientation:landscape){
    body{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-evenly;
        min-width:250px;
    }
    #header_container{
        font-size:1.3em;
    }
    #stats_container{
        display:flex;
        flex-direction:column;
        width:20%;
        height:70%;
        align-items:center;
        justify-content:space-around;        
    }
    #stats_container div{
        display:flex;
        align-items:center;
        flex-direction:column;
    }
    .game_area{
        display:flex;
        /* height:72%; */
        width:70%;
        flex-flow: row wrap;
        justify-content:space-around;
        align-items:center;
        vertical-align: top;
    }
    #reset_bottom{
        display:none;
    }
    .card{
        height:25%;
    }
    #reset_side{
        height:15%;
        width:80%;
    }
    #modal_body{
        width:60vw;
        height:60vh;
    }
}
@media screen and (max-width:400px) and (orientation:landscape){
    body{
        text-shadow: 2px 2px #000000;
    }
    .card{
        border-radius:4px;
    }
    #reset_side{
        height:18%;
        font-size:1.5em;
    }
    #header_container{
        font-size:.7em;
    }
    #stats_container{
        font-size:.4em;
    }
}
@media screen and (min-width:401px) and (orientation:landscape){
    body{
        min-height:300px;
    }
}
@media screen and (min-width:401px) and (max-width:550px) and (orientation:landscape){
    body{
        text-shadow: 2px 2px #000000;
    }
    .card{
        border-radius:6px;
        height:28%;
    }
    #reset_side{
        height:18%;
        font-size:1.2em;
    }
    #header_container{
        font-size:.7em;
    }
    #stats_container{
        font-size:.7em;
    }
}
@media screen and (min-width:500px) and (orientation:landscape){
    #header_container{
        font-size:1.3em;
    }
    #reset_side{
        font-size:1em;
    }
}
@media screen and (min-width:661px) and (orientation:landscape){
     #header_container{
        font-size:2em;
    }
    #stats_container{
        font-size:1.2em;
    }
    #reset_side{
        font-size:1.1em;
    }
}
@media screen and (min-width:1000px) and (orientation:landscape){
    #header_container{
        font-size:2.5em;
    }
    #stats_container{
        font-size:1.8em;
        height:80%;
    }
    #reset_side{
        font-size:1.2em;
    }
}
@media screen and (min-width:500px) and (max-height:450px) and (orientation:landscape){
    body{
        display:flex;
        flex-flow:column wrap;
    }
    #header_container{
        text-align:center;
        font-size:.5em;
        width:23%;
        justify-content:center;
        align-items:center;
    }
    #stats_container{
        font-size:1em;
        width:23%;
    }
    .game_area{
        height:100%;
        width:60%;
    }
}
@media screen and (min-width:1800px) and (orientation:landscape){
    .game_area{
        width:30%;
    }
}