@font-face {
    font-family: 'Pokemon';
    src: url('font/Pokemon Solid.ttf') format('woff2')
}

@font-face {
    font-family: 'manaspc';
    src: url('font/Pokemon GB.ttf') format('woff2')
}

body {
    font-family: Pokemon, Arial;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative;
    min-width: 1000px;
    min-height: 700px;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#portrait_orientation_cover {
    display: none;
}

#portrait_orientation_cover_xs {
    display: none;
}

.player_stats ul {
    padding: 0;
}
*{
    box-sizing: border-box;
}


/********************
*******top_container
*********************/

.top_container {
    width: 100%;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.top_player_container {
    width: 29%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.player_name {
    font-family: manaspc, Arial;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 80%;
    border-radius: 25px;
    text-align: center;
}

.player_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60%;
    width: 80%;
    border-radius: 25px;
}

.player_stats {
    border-radius: 25px;
    font-family: manaspc, Arial;
    width: 17%;
    height: 90%;
    overflow: auto;
    color: white;
    line-height: 2em;
    font-size: 1.2em;
}

.player_stats img {
    width: 75%;
    margin-left: 13%;
}


/********************
*******bottom_container
*********************/

.attackText {
    position: absolute;
    color: red;
    font-size: 85px;
    font-family: manaspc, arial;
    z-index: 5000;
    bottom: 21%;
}

.attackText#attackText0 {
    left: 27%;
}

.attackText#attackText1 {
    left: 58%;
}

.player_key_display
{
    height: 18%;
    width: 30%;
    z-index: 5;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.player_hpAndPower {
    height: 18%;
    width: 25%;
    z-index: 5;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 23%;
}

.player_hpAndPower {
    width: 30%;
    height: 50%;
    margin: 0;
    font-size: 9px;
}

.hpAndPowerTextDiv {
    width: 15%;
    color: white;
    font-family: manaspc, Arial;
}

.hpAndPowerBar {
    width: 55%;
}

.hp,
.power {
    height: 49%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hpDetails,
.powerDetails {
    width: 20%;
    color: white;
    font-family: manaspc, Arial;
}

.player_icon img {
    width: 100%;
}

.player_icon {
    width: 4%;
}

.container {
    background-color: rgba(0, 0, 0, 0.8)
}
#toggle_view{
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#start_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 12%;
    height: 8%;
    top: 50%;
    left: 50%;
    font-size: 3em;
    line-height: 20%;
    color: #345da4;
    border: 6px solid #345da4;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: #fcc31d;
    border-radius: 25px;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#start_button:hover {
    background-color: whitesmoke;
}

#start_button:active {
    -webkit-transform: translate(-50%, -46%);
        -ms-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
}

#start_button:focus {
    outline: none
}

#countDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ef4036;
    text-shadow: 10px 10px black;
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 500;
    top: 0;
    bottom: 0;
    -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
            transform: translate(-50% -50%);
}

#pokeBall {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 50%;
    bottom: 58%;
    z-index: 500;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-image: url(images/pokeball.png);
    background-size: 100%, 100%;
    display: none;
}

.modal-content {
    background-color: #345da4;
    border: 6px solid #fcc31d;
    border-radius: 25px;
}

.modal-title {
    text-align: center;
    font-size: 300%;
    color: whitesmoke;
    text-shadow: 3px 3px black;
}

#instructions {
    color: white;
}

#instructions h1 {
    text-align: center;
    text-shadow: 3px 3px black;
}

#instructions li {
    font-size: 20px;
    font-family: manaspc, Arial;
}

#player_0_health_bar {
    width: 100%;
    background-color: green;
}

#player_0_power_bar {
    width: 0%;
    background-color: #fcc31d;
}

#player_1_health_bar {
    width: 100%;
    background-color: green;
}

#player_1_power_bar {
    width: 0%;
    background-color: #fcc31d;
}

.player_stats ul {
    list-style: none;
}

.got_hit {
    -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-2%, 0%, 0);
                transform: translate3d(-2%, 0%, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2%, 0%, 0);
                transform: translate3d(2%, 0%, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4%, 0%, 0);
                transform: translate3d(-4%, 0%, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4%, 0%, 0);
                transform: translate3d(4%, 0%, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-2%, 0%, 0);
                transform: translate3d(-2%, 0%, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2%, 0%, 0);
                transform: translate3d(2%, 0%, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4%, 0%, 0);
                transform: translate3d(-4%, 0%, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4%, 0%, 0);
                transform: translate3d(4%, 0%, 0);
    }
}

.front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 11px;
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.card img {
    height: 100%;
    width: 100%;
}

.front,
.back {
    border-radius: 11px;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.flipped {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.scrollbar {
    background-color: dimgrey;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.style_scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: dimgrey;
}

.style_scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: dimgrey;
}

.style_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #fcc31d;
}

#mute {
    font-size: 40px;
    color: aliceblue;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hidden {
    display: none;
}

.progress {
    margin: 0px;
}


/********************
*******tablet styling
*********************/

.arrows_tablet_container {
    width: 15%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, .0);
}

.tablet_arrows img {
    width: 100%;
}

.tablet_player_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

div.tablet_bar {
    height: 13%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

#tablet_main {
    width: 70%;
}

.tablet_player_hp_and_pp {
    width: 48%;
}

div.player_box.tablet_player_box {
    width: 80%;
    height: 72%;
}

#tablet_top_container {
    height: 80%;
    width: 100%;
}

#tablet_bottom_container {
    height: 20%;
}

.tablet_right_move {
    border: green 10px solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.tablet_wrong_move {
    border: red 10px solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/*Media queries and responsive design*/
@media only screen and (min-height:850px){
    .player_box{
        width:90%;
    }
    .player_key_display{
        width:35%;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        /* overflow: hidden; */
        min-height: 750px;
    }
    .bottom_container {
        height: 30%;
    }
    .player_hpAndPower {
        font-size: 10px;
    }
    div.player_box.tablet_player_box {
        width: 80%;
    }
}

@media only screen and (min-width: 1120px) {
    div.player_box.tablet_player_box {
        width: 70%;
    }
    .player_hpAndPower {
        font-size: 11px;
    }
    .player_box {
        width: 65%;
    }
}
@media only screen and (min-width: 1120px) and (min-height:850px){
    .player_box{
        width:70%;
    }
}
@media only screen and (min-width: 1300px) {
    .player_box {
        width: 60%;
    }
    .player_hpAndPower {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1300px) and (min-height:850px){
    .player_box {
        width: 70%;
    }
}
@media only screen and (min-width: 1350px) and (min-height:950px) {
    div.player_box.tablet_player_box {
        width: 90%;
    }
    .player_hpAndPower {
        font-size: 15px;
    }
    .player_box {
        width: 80%;
    }
}

@media only screen and (min-width: 1420px) {
    body {
        min-height: 750px;
    }
    .player_box {
        width: 55%;
    }
    div.player_box.tablet_player_box {
        width: 60%;
    }
    .player_hpAndPower {
        font-size: 12px;
    }
    .player_key_display{
        width:25%;
    }
}
@media only screen and (min-width: 1420px) and (min-height:900px){
    .player_box {
        width: 65%;
    }
}

@media only screen and (min-width: 1520px) {
    body {
        min-height: 800px;
    }
}

@media only screen and (min-width: 1440px) and (min-height: 850px) {
    div.player_box.tablet_player_box {
        width: 70%;
    }
    .player_hpAndPower {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1700px) {
    .player_hpAndPower {
        font-size: 15px;
    }
    .player_box {
        width: 50%;
    }
    .player_key_display {
        height: 20%;
    }
    .player_icon {
        width: 5%;
    }
    div.player_box.tablet_player_box {
        width: 65%;
    }
}

@media only screen and (min-width: 1700px) and (min-height: 950px){
    .player_box{
        width:60%;
    }
}

@media only screen and (min-width: 1820px) {
    div.player_box.tablet_player_box {
        width: 60%;
    }
    .player_box {
        width: 46%;
    }
    .tablet_arrows {
        width: 80%;
    }
}
@media only screen and (min-width: 1820px) and (min-height: 950px){
    .player_box{
        width:56%;
    }
}
@media only screen and (min-width: 2000px) {
    body {
        min-height: 950px;
    }
    .player_box{
        width:53%;
    }
    .player_icon{
        width:4%;
    }
}

/* For tablets in portrait mode*/
@media only screen and (orientation: portrait) and (min-width: 426px){
    #instructions {
        z-index: -5;
    }
    #portrait_orientation_cover{
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 6;
        color: white;
        font-size: 300%;
    }
    #portrait_orientation_cover p {
        margin: 10%;
        top: 30vh;
        position: relative;
        text-align: center
    }
}

/* For phones in portrait mode*/
@media only screen and (orientation: portrait) and (max-width: 425px){
    #instructions {
        z-index: -5;
    }
    #portrait_orientation_cover_xs {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 6;
        color: white;
        font-size: 8vw;
    }
    #portrait_orientation_cover_xs p {
        margin: 10%;
        position: relative;
        text-align: center
    }
}

/* For phones in landscape mode*/
@media only screen and (orientation: landscape) and  (min-width:320px) and (max-width:767px){
    #instructions {
        z-index: -5;
    }
    #portrait_orientation_cover_xs {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 6;
        color: white;
        font-size: 5vw;
    }
    #portrait_orientation_cover_xs p {
        margin: 10%;
        position: relative;
        text-align: center
    }
}

